/* 

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500&family=Unbounded:wght@300;400;500;600;700;800&display=swap'); */
 
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500&family=Space+Grotesk:wght@300;400;600&family=Unbounded:wght@300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #191919;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Space Grotesk', sans-serif;
}

.slick-slide>div{
    margin: 0 10px;
}